<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
      body {
        background-color: #A0D8B3;
      }
      .btn-primary, .btn-primary:focus, .btn-primary:hover {
        background-color: #FFD95A;
        border-color: #FFD95A;
        color: #000000;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="d-flex flex-column align-items-center">
        <h1 class="mt-5">Upload files to SFTP</h1>
        <a class="btn btn-primary mt-3" href="/upload" role="button" id="uploadButton">Select Files to Upload</a>
        <a class="btn btn-primary mt-3" href="/view" role="button" id="viewButton">View Uploaded Files</a>
      </div>

      <form action="{{ url_for('success') }}" method="POST" enctype="multipart/form-data" class="mt-3 d-none" id="fileUploadForm">
        <div class="form-group">
          <label for="files">Choose files:</label>
          <input type="file" name="file" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#uploadButton").click(function(e) {
          e.preventDefault();
          $("#fileUploadForm").removeClass("d-none");
          $("#viewButton").hide();
        });
      });
    </script>
  </body>
</html>
