<!DOCTYPE html>
<html>
  <head>
    <title>View Files</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
      body {
        background-color: #A0D8B3;
      }
      .btn-primary, .btn-primary:focus, .btn-primary:hover {
        background-color: #FFD95A;
        border-color: #FFD95A;
        color: #000000;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="d-flex flex-column align-items-center">
        <h1>View Uploaded Files</h1>
        <p>Click on a file to download:</p>
        <ul>
          {% for file_info in file_info %}
            <li>
              <a href="{{ file_info['file_path'] }}">{{ file_info['file'] }}</a>
            </li>
          {% endfor %}
        </ul>
        <a class="btn btn-primary mt-3" href="/" role="button">Upload More Files</a>
      </div>
      <div class="d-flex flex-column align-items-center mt-5">
        <h2>Enter Code to View Files:</h2>
        <form method="post" action="{{ url_for('view_files') }}">
          <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" name="code" id="code" required>
          </div>
          <input class="btn btn-primary" type="submit" value="Submit">
        </form>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
